<div class="form-container">
  <div class="new-business-form-container">
    <div class="new-business-form-heading">
      <h1>Edita una empresa</h1>
    </div>
    <%= render 'shared/business-form', business: @business %>
  </div>
</div>


