<div class="form-container">
  <div class="new-building-form-container">
    <div class="new-building-form-heading">
      <h1>Crear una empresa</h1>
    </div>
    <%= render 'shared/building-form', business: @business %>
  </div>
</div>


