<%= render 'shared/sidebar' %>
<div class="page-content-wrapper margin-right-dashboard">
  <h1 class="properties-index-title">Resumen <%= @business.name %></h1>
  <div class="row">
    <div class="col-xs-12 col-md-12">
    </div>
  </div>
</div>


