.show-image-cover {
  background-image: url("2.jpg");
  height: 35vh;
  background-size: cover;
}

.show-image-avatar {
  height: 40px;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.avatar-big {
  border-radius: 50%;
  background-size: cover;
  position: relative;
  background-color: white;
}

.boy-avatar {
  background-image: url("boy.png");
}

.house-avatar {
  background-image: url("house.png");
  background-size: cover;
  background-position: center;
}

@media only screen
and (max-width: 320px) {
  .responsive-avatar{
    height: 46px;
    width: 46px;
    bottom: 23px;
  }
}

@media only screen
and (min-width: 321px)
and (max-width: 380px) {
  .responsive-avatar{
    height: 50px;
    width: 50px;
    bottom: 25px;
  }
}

@media only screen
and (min-width: 1224px) {
  .responsive-avatar {
    height: 70px;
    width: 70px;
    bottom: 35px;
  }
}

.margin-bottom-end-small {
  margin-bottom: 8px;
}

.margin-bottom-end-med {
  margin-bottom: 24px;
}


.show-share-division{
  margin: 24px 80px;
  border: 0;
  border-top: 1px solid lightgray;
}

.property-title {
  font-size: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}
.building-title {
  font-size: 18px;
  font-weight: lighter;
}
.shares-title {
  font-size: 20px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}
