<%= render "shared/sidebar" %>
<div class="page-content-wrapper">
  <div class="invoice-form-container">
    <div class="new-invoice-form-container">
      <%= render 'shared/invoice-form' %>
    </div>
  </div>
</div>
