<%= render "shared/sidebar" %>
<div class="page-content-wrapper">
  <div class="form-container">
    <div class="new-property-form-container new-expense-form-container">
      <div class="new-property-form-heading">
        <h1>Nueva factura de venta en <%= @business.name %></h1>
      </div>
      <%= render 'shared/invoice-form' %>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <%= render 'shared/item-form', item: Item.new %>
      </div>
    </div>
  </div>
</div>
