<%= render "shared/sidebar" %>
<div class="page-content-wrapper">
  <div class="form-container">
    <div class="new-property-form-container">
      <div class="new-property-form-heading">
        <h1>Edita el presupuesto activo en <%= @building.name %></h1>
      </div>
      <%= render 'shared/budget-form' %>
    </div>
  </div>
</div>
