<%= render 'shared/sidebar' %>
<div class="page-content-wrapper">
  <div class="form-container">
    <div class="new-property-form-container">
      <div class="new-property-form-heading">
        <h1>Cobrar una nueva cuota ordinaria <%= @building.name %></h1>
      </div>
      <div class="form-container">
        <%= render 'shared/bill-form', building: @building, owners: @owners %>
      </div>
    </div>
  </div>
</div>


