<h3 class="alert alert-blue property-title text-center">
  <i class="material-icons">
   info
  </i>
  ¿Tienes algún problema o necesitas ayuda? ¿Cuentanos cómo podemos ayudarte?
</h3>
<ul class="errors-list">
    <li>
      <span class="errors-list-text">
       ¿No te gusta chatear? Llámanos
      </span>
      <span>
        <a href="https://wa.me/573148509472" target="_blank" class="btn alert-btn">Nuestro número</a>
      </span>
    </li>
    <li>
      <span class="errors-list-text">
       ¿No te gusta llamar? Escríbenos un correo
      </span>
      <span>
        <a href="mailto:daniel@peggo.com.co" target="_blank" class="btn alert-btn">Nuestro Email</a>
      </span>
    </li>
</ul>
<%= render 'shared/tawk-support-chat' %>
