<div class="buildings-container">
  <h1>
    <i class="fas fa-building"></i>
    Tus copropiedades
  </h1>
    <%@buildings.each do |building| %>
      <div class="col-xs-12 col-sm-3">
        <%= link_to building_path(building) do %>
          <div class="card"">
            <div class="card-description">
              <h2><%= building.name %></h2>
              <p><%= distance_of_time_in_words(Time.current, building.created_at) %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="col-xs-12 col-sm-3">
      <%= link_to new_building_path, class:"add-new-button" do %>
          <p>Crea una nueva copropiedad</p>
          <i class="fas fa-plus-circle"></i>
      <% end %>
    </div>
</div>
