<div class="email-wrapper">
  <div class="email-container">
    <h1>Tu información ha sido exportada con éxito</h1>
    <%= link_to root_url do %>
      <%= cl_image_tag "Default%20Pics/Logo.png", alt: "Logo Peggo", width: 150, height: 60, crop: "scale" %>
    <% end %>

  </div>
</div>
