<%= render "shared/sidebar" %>
<div class="page-content-wrapper">
  <div class="form-container">
    <div class="new-property-form-container new-expense-form-container">
      <div class="new-property-form-heading">
        <h1>Agregar un nuevo pago recibido a <%= @business.name %></h1>
      </div>
      <%= render 'shared/payment-form' %>
    </div>
  </div>
</div>
