<%= render "shared/sidebar" %>
<div class="page-content-wrapper">
  <div class="form-container">
    <div class="new-property-form-container">
      <div class="new-property-form-heading">
        <h1>Registra el pago de la cuota Número <%= @concept.bill.id %></h1>
      </div>
      <%= render 'shared/concept-form' %>
    </div>
  </div>
</div>
