/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  // margin: 0;
  text-align: center;
  color: white;
  border-radius: 8px;
  z-index: 10000;
  border: none;
}
.alert-info {
  background: $green;
}
.alert-danger, .alert-warning {
  background: $my-red;
}
.alert-with-margin{
  margin-left: 260px;
  margin-right: 10px;
}
.alert-blue{
  color: $blue !important;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 991px) {
  .alert-with-margin {
    margin-left: 0px;
    margin-right: 0px;
  }
}
