.banner {
  text-align: center;
  min-height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-content{
  max-width: 80%;
  text-align: left
}
.banner h1 {
  font-size: 52px;
  font-family: "Roboto";
  font-weight: normal;
  color: white;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}
.banner p {
  font-size: 18px;
  font-weight: normal;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  .banner h1 {
    font-size: 36px;
  }
  .banner p {
    font-size: 16px;
  }
}
@media (max-width: 355px) {
  .banner-call-to-actions {
    display: flex;
    a {
      padding: 8px;
    }
  }
}
