.card {
  height: 175px;
  margin-top: 15px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  background: linear-gradient(-45deg, #3FC1C9 0%, #364F6B 100%);
  border-radius: 8px;
  &:hover {
    // transition: background 1s ease;
    background: linear-gradient(-45deg, #3FC1C9 100%, #364F6B 0%);
  }
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
