.table-container {
  border: 1px #364F6B66 solid;
  border-radius: 8px;
  padding: 0px !important;
  margin-bottom: 64px;
  overflow-x: auto;
  table{
    width: 100%;
    height: 100%;
    th {
      white-space: nowrap;
      background-color: $brand-primary;
      color: white;
      font-size: 16px;
      padding: 16px 12px;
      text-align: center;
      &:last-child {
        border-top-right-radius: 8px;
      }
      &:first-child {
        border-top-left-radius: 8px;
      }
    }
    tr {
      &:nth-of-type(odd) {
        background-color: #364f6b20;
      }
    }
    td {
      white-space: nowrap;
      font-size: 14px;
      font-weight: lighter;
      padding: 8px 16px;
      text-align: center;
    }
   .table-row-link {
      cursor: pointer;
      &:hover{
        background-color: $brand-primary;
        color: white;
        i {
          color: white;
          &:hover{
            color: $my-secondary-blue;
          }
        }
      }
   }
  }
}


.table-container-simple {
  padding: 0px !important;
  margin: 16px 32px 32px 32px;
  margin-bottom: 8px;
  table{
    width: 40%;
    height: 100%;
    td {
      white-space: nowrap;
      font-size: 14px;
      font-weight: lighter;
      padding: 8px 16px;
      text-align: left;
    }
  }
}

.text-align-right {
  text-align: right !important;
}
.table {
  display: table;
  margin-bottom: 0px;
  .table-header{
    font-weight: bold;
    white-space: nowrap;
    background-color: $brand-primary;
    color: white;
    font-size: 16px;
    padding: 16px 12px;
    text-align: center;
    &:last-child {
      border-top-right-radius: 8px;
    }
    &:first-child {
      border-top-left-radius: 8px;
    }
  }
  .table-row {
    &:nth-of-type(odd) {
      background-color: #364f6b20;
    }
  }
  .table-data{
    white-space: nowrap;
    font-size: 14px;
    font-weight: lighter;
    padding: 8px 16px;
    text-align: center;
    .form-group{
      margin: 0px;
    }
    .close-form-btn{
      color: $my-red;
    }
    .submit-share-form {
      color: $my-green;
    }
  }
  .no-owners {
    color: $my-red !important;
  }
  .table-row-link {
     cursor: pointer;
     &:hover{
       background-color: $brand-primary;
       color: white;
       i {
         color: white;
         &:hover{
           color: $my-secondary-blue;
         }
       }
     }
  }
}
.table>* {
  display: table-row;
}
.table>*>* {
  display: table-cell;
}
.edit-share-form, .new-share-form {
  padding: 32px;
  height: 100%;
  select {
    font-weight: lighter !important;
    font-size: 14px !important;
  }
  input{
    font-weight: normal !important;
    font-size: 14px !important;
  }
}
