.debt-status-mid {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.status-padding {
  padding: 8px !important;
}

.green-status {
  background-color: $my-green;
}

.red-status {
  background-color: $my-red;
}
