@import "@material/fab/mdc-fab";

.fab-bottom-right {
  position: fixed;
  bottom: 16px;
  right: 16px;
  &:hover {
    text-decoration: none;
  }
}

.fab-color {
  background-color: $brand-primary;
  color: white;
}
