/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  width: 100%;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.navbar-wagon-blue{
   background-color: $brand-primary;
}
.navbar-wagon-transparent{
   background-color: transparent;
   position: fixed;
   top: 0px;
}
.navbar-wagon-fixed{
  position: fixed;
  top: 0px;
  left: 0px;
}

/* Logo */
.navbar-wagon-brand{
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-wagon-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  // padding: 0 20px;
    i {
    font-size: 35px;
    color: white;
  }
}
.navbar-wagon-invisible{
  min-width: 31px;
  min-height: 35px;
}
/* Navbar link */
.navbar-wagon-link {
  color: white;
  font-size: 14px;
  padding: 16px;
}
.navbar-wagon-link:hover {
  color: $my-secondary-blue;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  border-radius: 3px;
  // box-shadow: 1px 1px 4px #E6E6E6;
  // border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: bold !important;
  color: #rgba(0, 0, 0,0.5) !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}

