.page-content {
  display: block;
}
  .sidebar {
    position: fixed;
    z-index: 10000;
    overflow-x: hidden;
    height: 100%;
    width: 250px;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: $brand-primary;

    .sidebar-logo{
      width: 100%;
      height: 16%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .sidebar-top {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      .sidebar-top-user{
        // padding-left: 16px;
        .sidebar-top-user-image{
          height: 50px;
          width: 50px;
          border-radius: 50%;
        }
        .far.fa-user-circle {
          font-size: 50px;
        }
        .fas.fa-cog {
          position: relative;
          left: -16px;
          text-shadow: 0 0 0.3em rgba(0,0,0, 0.6)
        }
      }
      .sidebar-top-business{
        h6 {
          margin-top: 24px;
          margin-bottom: 8px;
          font-weight: bold;
          font-size: 18px;
          text-align: center
        }
        hr {
          margin: 0px;
        }
      }
    }
    .sidebar-links{
      padding-top: 20px;
      padding-left: 20px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // max-height: 50vh;
      // overflow-y: auto;
      .sidebar-link{
        padding: 8px;
        min-width: 100%;
        color: white;
        font-weight: lighter;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        &:hover, &:active{
          text-decoration: none;
          font-weight: bold;
        }
        span {
          margin-left: 8px;
        }
      }
      .active {
        font-weight: bold;
      }
    }

    .sidebar-bottom{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 16px;
      .sidebar-signout{
        color: white;
        font-weight: lighter;
        font-size: 14px;
        border: 1px solid white;
        padding: 16px;
        border-radius: 25px;
        &:hover, &:active {
          background-color: white;
          color: $brand-primary;
          text-decoration: none;
        }
      }
    }
  }
  .page-content-wrapper{
    height: 100%;
    margin-left: 250px;
    margin-right: 0px;
  }

  .table-content-wrapper{
    margin: 0 20px;
  }


@media (max-width: 991px) {
  .sidebar {
    width: 0px;
  }

  .page-content-wrapper{
    margin-left: 0px;
    margin-right: 0px;
  }

}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.item-hidden{
  visibility: hidden;
}

#mySidenav {
  transition: width .5s
}
