<p>¡Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un cambio de contraseña para este email. Para hacerlo solo debes dar click en el siguiente link:</p>

<p><%= link_to 'Recuperar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no has sido tu quien solicitó el cambio, por favor ignora este correo electrónico,</p>
<p>Tu contraseña no cambiará hasta que ingreses al link y digites una nueva.</p>
