<%= render 'shared/sidebar' %>
<div class="page-content-wrapper">
  <div class="form-container">
    <div class="new-property-form-container new-expense-form-container">
      <div class="new-property-form-heading">
        <h1>Exporta información de <%= @business.name %> a Excel </h1>
      </div>
      <%= render 'shared/export-form' %>
    </div>
  </div>
</div>

