<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <style>
      * {
        font-family: 'Roboto', sans-serif;
      }
      .email-wrapper{
        height: 50vh;
        width: 100%;
        padding-top: 32px;
        background-color: whitesmoke;
      }
      .email-container {
        width: 50%;
        background-color: white;
        padding: 32px;
        text-align: center;
        margin: auto auto;
        border-radius: 8px;
      }
      .email-container h1 {
        font-size: 28px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
